<div class="header">
  <h1>Password Generator</h1>
</div>


<%= form_with url: "/generate", method: :post, data: { turbo: false } do %>
  <div>
    <label>Password length:</label>
    <%= number_field_tag :length, 12, min: 4, max: 64 %>
  </div>

  <div>
    <%= check_box_tag :use_upper %>
    <label>Include uppercase letters</label>
  </div>

  <div>
    <%= check_box_tag :use_numbers %>
    <label>Include numbers</label>
  </div>

  <div>
    <%= check_box_tag :use_special %>
    <label>Include special characters</label>
  </div>

  <%= submit_tag "Generate Password" %>
<% end %>

<% if params[:password].present? %>
  <div class="password-result-flex">
    <div class="generated-password">
      <strong>Password:</strong> <%= params[:password] %>
    </div>

    <div class="strength-indicator <%= params[:strength].downcase.gsub(" ", "-") %>">
      <strong>Strength:</strong> <%= params[:strength] %>
    </div>
  </div>
<% end %>

<h2>History</h2>
<table style="width: 100%; border-collapse: collapse;">
  <tr style="background-color: #f0f0f0;">
    <th>Date</th>
    <th>Password</th>
    <th>Strength</th>
    <th></th>
  </tr>
  <% JSON.parse(File.read(Rails.root.join("Database", "db.json"))).reverse.each do |entry| %>
   <tr>
      <td><%= entry["date"] %></td>
      <td><%= entry["password"] %></td>
      <td class="<%= entry["strength"].downcase.gsub(" ", "-") %>">
        <%= entry["strength"] %>

        <!-- Copy Button -->
        <button class="copy-button" data-password="<%= entry["password"] %>">Copy</button>
      </td>
      <td>
        <%= button_to "ðŸ—‘ï¸", delete_password_path(entry["id"]), method: :delete, data: { turbo: false }, style: "background: none; border: none; font-size: 1.2rem; cursor: pointer;" %>
      </td>
    </tr>
  <% end %>
</table>


