<div class="header">
  <h1>Password Generator</h1>
</div>

<%= form_with model: Password.new do |form| %>

  <div>
    <label>Password length:</label>
    <%= number_field_tag :length, 12, min: 4, max: 64 %>
  </div>

  <div>
    <%= check_box_tag :use_upper %>
    <label>Include uppercase letters</label>
  </div>

  <div>
    <%= check_box_tag :use_numbers %>
    <label>Include numbers</label>
  </div>

  <div>
    <%= check_box_tag :use_special %>
    <label>Include special characters</label>
  </div>

  <%= submit_tag "Generate Password" %>
<% end %>

<% if params[:password].present? %>
  <div class="password-result-flex">
    <div class="generated-password">
      <strong>Password:</strong> <%= params[:password] %>
    </div>

    <div class="strength-indicator <%= params[:strength].downcase.gsub(" ", "-") %>">
      <strong>Strength:</strong> <%= params[:strength] %>
    </div>
  </div>
<% end %>

<h2>History</h2>
<table style="width: 100%; border-collapse: collapse;">
  <tr style="background-color: #f0f0f0;">
    <th>Date</th>
    <th>Password</th>
    <th>Strength</th>
    <th></th>
  </tr>
  <% Password.order(created_at: :desc).each do |p| %>
    <tr>
      <td><%= p.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= p.password %></td>
      <td class="<%= p.strength.downcase %>"><%= p.strength %></td>
      <td><%= button_to "🗑", password_path(p), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "delete-button" %>
</td>
    </tr>
  <% end %>
  
</table>


